extends layout

block content
    .container
    h1 New Book
    form(action="/books/new" method="post").form
        include form-error
        include form
        p
            input(type="submit" value="Create New Book")
        p 
            a(class="button" href="/books") Cancel 